.centerDisplay {
  position:fixed;
  left:50%;top:50%;
  transform: translate(-50%, -50%); 
}
.movedDisplay {
  position:fixed;
  left:5%;top:10%;
  /* transform: translate(-50%, -50%);  */
}
.ui.input input{
  font-family: FontAwesome !important;
}
input {
    padding-left:20px !important;
}
.scroll {
  width: 274px;
  height: auto;
  max-height: 200px;
  overflow-Y: scroll;
  overflow-X: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#search {
  width:274px;
}
